<!DOCTYPE html>
<html lang="zxx">
<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <!-- Title-->
  <title>Portfolio</title>
  <!-- Description-->
  <meta name="description" content="Personal Portfolio Template">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons-->
  <link rel = "icon" href = "img/favicons/logo.png" type = "image/x-icon">

  <!-- Web fonts-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;display=swap" rel="stylesheet">
  <!-- CSS vendors-->
  <link rel="stylesheet" href="css/bootstrap-custom.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/tiny-slider.css">
  <link rel="stylesheet" href="css/lity.min.css">
  <link rel="stylesheet" href="css/simplebar.min.css">
  <link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css">
  <!-- Main CSS-->
  <link rel="stylesheet" href="css/main.css">
  <!-- CSS Color scheme-->
  <link id="color-scheme" rel="stylesheet" href="css/colors/main-darkgreen.css">
  <!-- Custom CSS (Add your custom CSS styles to this file)-->
  <link rel="stylesheet" href="css/custom.css">
  <!-- removeIf(customizerDist)-->
  <link rel="stylesheet" href="../customizer/main.css">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- endremoveIf(customizerDist)-->
</head>

<body class="theme-dark">
  <!-- Preloader-->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div id="overlay-effect"></div>
  <!-- Navbar-->
  <nav class="navbar-expand-md navbar fixed-top" id="navbar"><a class="navbar-brand" data-scroll="" href="#home-area">
      <!-- Navbar Logo-->
      <h4><span style="color:#548040">P</span>ortfolio</h4></a>
    <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button"><span class="btn-line"></span></span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <!-- Navbar menu-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link w3-hover-opacity" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link w3-hover-opacity" href="#resume">Resume</a></li>
        <li class="nav-item"><a class="nav-link w3-hover-opacity" href="#portfolio">Projects</a></li>
        <li class="nav-item"><a class="nav-link w3-hover-opacity" href="#blog">Blogs</a></li>
        <li class="nav-item"><a class="nav-link w3-hover-opacity" href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <!-- Home-->
  <section class="home-area element-cover-bg" id="home" style="background-image:url(img/bg.jpg)">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 home-content text-center">
          <h1>Hello! I am</h1>  
          <h1 class="home-name w3-hover-opacity">Naman <span>Jain</span></h1>
          <h4 class="cd-headline clip home-headline">I’m a <span style="color:#548040" class="cd-words-wrapper single-headline"><b class="is-visible">Developer</b><b>Programmer</b><b>Data Scientist</b></span></h4>
        </div>
      </div>
    </div>
    <div class="fixed-wrapper">

      <!-- Social media icons-->
      <div class="fixed-block block-right">
        <ul class="list-unstyled social-icons">
          <li><a href="https://www.facebook.com/naman14310"><i class="icon ion-logo-facebook w3-hover-opacity"></i></a></li>
          <li><a href="https://www.linkedin.com/in/jain-naman"><i class="icon ion-logo-linkedin w3-hover-opacity"></i></a></li>
          <li><a href="https://github.com/naman14310"><i class="icon ion-logo-github w3-hover-opacity"></i></a></li>
          <li><a href="https://www.instagram.com/n.a.m.a.n_14310/"><i class="icon ion-logo-instagram w3-hover-opacity"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- About lightbox-->
  <div class="lightbox-wrapper" id="about" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Get to know me</p>
                  <h2 class="section-title">About Me</h2>
                  <div class="animated-bar" ></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="img/dp.jpg" alt="About Picture"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h2 class="content-subtitle"><b>Who am i?</b></h2>
                    <h6 class="content-title w3-hover-opacity">I'm Naman Jain, a Software Developer and Machine Learning Enthusiast</h6>
                    <div class="content-description">
                      <p>I'm currently pursuing Masters in Computer Science from IIIT Hyderabad. I love exploring new techs and solving real world problems using my analytical, technical and problem solving skills. 3 D's are backbone of my knowledge, i.e. Data Structures, Databases and Deep learning. I can help in converting your vision and idea into a meaningful and useful products. </p>
                    </div>
                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Name:</span>
                          <p>Naman Jain</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Email:</span>
                          <p><a href="mailto:namanjain14310@gmail.com">namanjain14310@gmail.com</a></p>
                        </div>
                      </div>
                      </div>
                    </address>
                    <div class="d-block d-sm-flex align-items-center"><a class="btn content-download button-main button-scheme w3-hover-opacity" href="cv/cv_naman.pdf" target = "_blank" role="button">Download CV</a>
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item"><a href="https://www.instagram.com/n.a.m.a.n_14310"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jain-naman"><i class="icon ion-logo-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/naman14310"><i class="icon ion-logo-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/naman14310"><i class="icon ion-logo-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Services section-->
            <br>
            <div class="services-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <h2 style="text-align:center" class="section-title">I can Help You with</h2>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">

                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-logo-ionic"></i>
                    <h6 class="service-title">Data Structures & Algorithms</h6>
                    <p class="service-description">450+ Problems solved | 4 Star in Problem Solving | Active on Leetcode </p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-logo-wordpress"></i>
                    <h6 class="service-title">Web Development</h6>
                    <p class="service-description">Skilled in Flask and Django frameworks | Familiar with HTML | CSS | JavaScript | REST Apis | SQL and NoSQL Databases</p>
                  </div>
                </div>
                <!-- Single service-->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="single-service"><i class="icon service-icon ion-md-move"></i>
                    <h6 class="service-title">Machine Learning</h6>
                    <p class="service-description">2+ Year Experience | 10+ models Trained | Well versed with Computer Vision & NLP</p>
                  </div>
                </div>

              </div>
            </div>
            <br>
            <!-- Testimonials section-->
            <div class="testimonials-section single-section">

              <div class="my-slider">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <!-- Resume lightbox-->
  <div class="lightbox-wrapper" id="resume" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out my Resume</p>
                  <h2 class="section-title">Resume</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Resume section-->
            <div class="resume-section single-section">
              <div class="row">
                <!-- Education part-->
                <div class="col-12 col-md-6">
                  <div class="col-block education">
                    <h3 class="col-title">Education</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">M.Tech in Computer Science</h5><span class="item-details">IIIT Hyderabad | 2020 - 2022</span>
                      <p class="item-description">CGPA : 9.33</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">B.Tech in Computer Science</h5><span class="item-details">Acropolis Institute, Indore | 2016 - 2020</span>
                      <p class="item-description">CGPA : 8.23</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Higher Secondary (12th)</h5><span class="item-details">CBSE | 2015 - 2016</span>
                      <p class="item-description">CGPA : 8.2</p>
                    </div>
                  </div>
                </div>
                <!-- Experience part-->
                <div class="col-12 col-md-6">
                  <div class="col-block experience">
                    <h3 class="col-title">Experience</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Research & Development Intern</h5><span class="item-details">Eigenalytics Data Solutions | Present</span>
                      <p class="item-description">--> Working on RNN and LSTM based Language models</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Machine Learning Intern</h5><span class="item-details">Codenscious Technologies, Indore | Oct 2018 - Apr 2019</span>
                      <p class="item-description">--> Programmed and Refined 5+ ANN and CNN architectures</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">SDE Intern</h5><span class="item-details">Amstech inc, Indore | Nov 2017 - Apr 2018</span>
                      <p class="item-description">--> Created CRUD Api's for backend</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Skills section-->
            <div class="skills-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <h2 style="text-align:center" class="section-title align-items-center">My Skills</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="90">
                    <div class="skill-info"><span class="skill-name">Data Structures & Algorithms</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="64">
                    <div class="skill-info"><span class="skill-name">Web Design and Development</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="82">
                    <div class="skill-info"><span class="skill-name">Machine Learning and Deep Learning</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="78">
                    <div class="skill-info"><span class="skill-name">C/C++</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="72">
                    <div class="skill-info"><span class="skill-name">Python</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="75">
                    <div class="skill-info"><span class="skill-name">Git</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
<div class="w3-container w3-padding-32 w3-center ">
  <h3>To know more about my work, Visit </h3><a target="_blank" href="https://github.com/naman14310" style="text-decoration: none"><h2 class="w3-jumbo w3-hover-opacity"><span style="-webkit-text-fill-color: gray">GitHub</span> </h2></a>

</div>
            <!-- Video section-->

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio lightbox-->
  <div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Showcasing some of my best work</p>
                  <h2 class="section-title">Projects</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Portfolio section-->
            <div class="portfolio-section single-section">
              <div class="row">
                <!-- Filter nav-->
                <div class="col-12">
                  <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                    <li class="list-inline-item tab-active" data-filter="*">All</li>
                    <li class="list-inline-item" data-filter=".sde">SDE</li>
                    <li class="list-inline-item" data-filter=".ml">Machine Learning</li>
                    <li class="list-inline-item" data-filter=".mini">Mini Projects</li>
                  </ul>
                </div>
              </div>
              <br>
              <!-- Thumbnail list-->
              <div class="portfolio-grid row">
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 sde"><a target="_blank" class="portfolio-item" href="img/p2p.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/p2p.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Mini Torrent : Peer2Peer File Sharing</h6><span class="content-more"><a target="_blank" href="https://github.com/naman14310/Torrent_Peer2Peer_File_Sharing_System"> More Info </a></span>
                      </div>
                    </div>
                  </a></div>
                                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 sde"><a class="portfolio-item" href="img/ias.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/ias.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Edge on IOT Platform</h6><span class="content-more"><a target="_blank" href="img/ias.jpg"> Will be Uploaded Soon </a></span>
                      </div>
                    </div>
                  </a></div>
                                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 sde"><a class="portfolio-item" href="img/file_explorer.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/file_explorer.jpg">
                      <div class="item-content">
                        <h6 class="content-title">File Explorer</h6><span class="content-more"><a target="_blank" href="https://github.com/naman14310/File_Explorer"> More Info </a></span>
                      </div>
                    </div>
                  </a></div>
                                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 sde"><a class="portfolio-item" href="img/sns.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/sns.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Multiclient Chat Application with End To End Encryption</h6><span class="content-more"><a target="_blank" href="https://github.com/naman14310/Multiclient_ChatRoom_with_EndToEnd_Encryption"> More Info </a></span>
                      </div>
                    </div>
                  </a></div>
                                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 sde"><a class="portfolio-item" href="img/db.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/db.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Mini SQL Engine</h6><span class="content-more"><a target="_blank" href="https://github.com/naman14310/Mini_SQL_Engine"> More Info </a></span>
                      </div>
                    </div>
                  </a></div>


                                  <!-- Single item-->
                <div class="single-item col-6 col-lg-4 ml"><a class="portfolio-item" href="img/movie.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/movie.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Movie Reviews Sentimental Analyzer</h6><span class="content-more"><a target="_blank" href="https://github.com/naman14310/Sentimental_Analysis_on_MovieReviews"> More Info </a></span>
                      </div>
                    </div>
                  </a></div>
                                  <!-- Single item-->
                <div class="single-item col-6 col-lg-4 ml"><a class="portfolio-item" href="img/ocr.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/ocr.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Handwritten Digits Recognition</h6><span class="content-more"><a target="_blank" href="https://github.com/naman14310/Handwritten_Digits_Recognizer"> More Info </a></span>
                      </div>
                    </div>
                  </a></div>

                                  <!-- Single item-->
                <div class="single-item col-6 col-lg-4 ml"><a class="portfolio-item" href="img/xray2.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/xray2.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Xray Image Classification for Pneumonia Prediction</h6><span class="content-more"><a target="_blank" href="https://github.com/naman14310/XRay_Image_Classification_using_CNN"> More Info </a></span>
                      </div>
                    </div>
                  </a></div>

                                  <!-- Single item-->
                <div class="single-item col-6 col-lg-4 ml"><a class="portfolio-item" href="img/paint.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/paint.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Image Inpainting using GAN</h6><span class="content-more"><a target="_blank" href="img/paint.jpg"> Will be Uploaded Soon</a></span>
                      </div>
                    </div>
                  </a></div>

                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 mini"><a class="portfolio-item" href="img/hover.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hover.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Hover : Controlling Computer Screen using Hand Gesture</h6><span class="content-more"><a target="_blank" href="https://github.com/naman14310/Controlling_Screen_using_Hand_Movements"> More Info</a></span>
                      </div>
                    </div>
                  </a></div>

                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 mini"><a class="portfolio-item" href="img/code.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/code.jpg">
                      <div class="item-content">
                        <h6 class="content-title">BigInteger Library in C++</h6><span class="content-more"><a target="_blank" href="https://github.com/naman14310/BigInteger_Library_For_Cpp"> More Info</a></span>
                      </div>
                    </div>
                  </a></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog lightbox-->
  <div class="lightbox-wrapper" id="blog" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out my writeups</p>
                  <h2 class="section-title">My Blogs</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Blog section-->
            <div class="blog-section single-section">
              <div class="row justify-content-center">


                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img w3-hover-opacity" href="https://www.linkedin.com/posts/jain-naman_naman14310machinelearning-activity-6794254412580814848-44JK"><img class="card-img-top" src="img/ml.jpg" alt="Blog post"><span class="content-date">May, 21</span></a>
                    <div class="card-body post-content"><a href="https://www.linkedin.com/posts/jain-naman_naman14310machinelearning-activity-6794254412580814848-44JK">
                        <h5 class="card-title content-title">Best Collection of ML algorithms</h5>
                      </a>
                      <p class="card-text content-description">I've compiled all Machine learning & Deep learning resources in just one git repository with an easy to use readme. Click to Read more!</p>
                    </div>
                  </div>
                </div>


                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img w3-hover-opacity" href="https://www.linkedin.com/posts/jain-naman_ive-read-success-stories-of-many-people-activity-6692325229722681344-DEMn"><img class="card-img-top" src="img/do.jpg" alt="Blog post"><span class="content-date">July, 20</span></a>
                    <div class="card-body post-content"><a href="https://www.linkedin.com/posts/jain-naman_ive-read-success-stories-of-many-people-activity-6692325229722681344-DEMn">
                        <h5 class="card-title content-title">My Short Success Story</h5>
                      </a>
                      <p class="card-text content-description">I've read success stories of many people, but never thought that I'll write one for myself. The irony is, every success story starts with failure and so with is. Click to Read more!</p>
                    </div>
                  </div>
                </div>


                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img w3-hover-opacity" href="https://www.linkedin.com/posts/jain-naman_ai-nlp-jarvis-activity-6674904911823691776-Tarp"><img class="card-img-top" src="img/cortax.jpg" alt="Blog post"><span class="content-date">June, 20</span></a>
                    <div class="card-body post-content"><a href="https://www.linkedin.com/posts/jain-naman_ai-nlp-jarvis-activity-6674904911823691776-Tarp">
                        <h5 class="card-title content-title">A Blog about Cortax, my AI Assistant</h5>
                      </a>
                      <p class="card-text content-description">Playing with Python during Lockdown..!! I made this interesting AI assistant - "CORTAX" using python and NLP. Click to Read more!</p>
                    </div>
                  </div>
                </div>


                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img w3-hover-opacity" href="https://medium.com/swlh/what-are-outliers-how-to-deal-with-them-1136f5c67fef"><img class="card-img-top" src="img/outlier.jpg" alt="Blog post"><span class="content-date">May, 20</span></a>
                    <div class="card-body post-content"><a href="https://medium.com/swlh/what-are-outliers-how-to-deal-with-them-1136f5c67fef">
                        <h5 class="card-title content-title">What are Outliers ?</h5>
                      </a>
                      <p class="card-text content-description">I tried my hands on MEDIUM and wrote an article for data science domain. It was published in "THE STARTUP" - Medium's largest active publication followed by +663,275 people. Click to Read more!</p>
                    </div>
                  </div>
                </div>



                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img w3-hover-opacity" href="https://www.linkedin.com/posts/jain-naman_deeplearning-machinelearning-neuralnetworks-activity-6663392776329269249-1LgB"><img class="card-img-top" src="img/mocq.jpg" alt="Blog post"><span class="content-date">April, 20</span></a>
                    <div class="card-body post-content"><a href="https://www.linkedin.com/posts/jain-naman_deeplearning-machinelearning-neuralnetworks-activity-6663392776329269249-1LgB">
                        <h5 class="card-title content-title">Machine Learning In Healthcare</h5>
                      </a>
                      <p class="card-text content-description">I constructed a deep learning model for classifying RBC's images into two classes: Infected and not Infected. It quickly predicts the result with more than 96% accuracy. Click to Read more!</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact lightbox-->
  <div class="lightbox-wrapper" id="contact" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Feel free to contact me anytimes</p>
                  <h2 class="section-title">Get in Touch</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Contact section-->
            <div class="contact-section single-section">
              <div class="row">
                <!-- Contact form-->
                <div class="col-12 col-lg-7">
                  <form class="contact-form" id="contact-form" action="http://exill.dk/demo/kitzu/template/php/contact.php">
                    <h4 class="content-title">Message Me</h4>
                    <div class="row">
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-name" type="text" name="name" placeholder="Name" required=""></div>
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-email" type="email" name="email" placeholder="Email" required=""></div>
                      <div class="col-12 form-group"><input class="form-control" id="contact-subject" type="text" name="subject" placeholder="Subject" required=""></div>
                      <div class="col-12 form-group form-message"><textarea class="form-control" id="contact-message" name="message" placeholder="Message" rows="5" required=""></textarea></div>
                      <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit" type="submit">Send Message</button>
                        <p class="contact-feedback"></p>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Contact info-->
                <div class="col-12 col-lg-5">
                  <div class="contact-info">
                    <h4 class="content-title">Contact Info</h4>
                    <p class="info-description">Always available for freelance work if the right project comes along, Feel free to contact me!</p>
                    <ul class="list-unstyled list-info">
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-logo-ionic"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Name</h6><span class="info-value">Naman Jain</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-map"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Location</h6><span class="info-value">Indore, India</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-send"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Email Me</h6><span class="info-value"><a href="mailto:namanjain14310@gmail.com">namanjain14310@gmail.com</a></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- removeIf(customizerDist)-->
  <div class="demo-tool">
    <div class="tool-wrapper">
      <span class="tool-toggler"><i class="icon ion-md-settings"></i></span>
      <div class="tool-box">
        <ul class="list-inline single-block color-switcher">
          <li class="list-inline-item" style="background-color: #2c31ff;" data-path="css/colors/main-blueviolet.css"></li>
          <li class="list-inline-item" style="background-color: #3460D1;" data-path="css/colors/main-nightskyblue.css"></li>
          <li class="list-inline-item" style="background-color: #EE3158;" data-path="css/colors/main-redpink.css"></li>
          <li class="list-inline-item" style="background-color: #007bff;" data-path="css/colors/main-blue.css"></li>
          <li class="list-inline-item" style="background-color: #17a2b8;" data-path="css/colors/main-cyan.css"></li>
          <li class="list-inline-item" style="background-color: #3365b0;" data-path="css/colors/main-darkblue.css"></li>
          <li class="list-inline-item" style="background-color: #a435b7;" data-path="css/colors/main-darkmagenta.css"></li>
          <li class="list-inline-item" style="background-color: #c93e70;" data-path="css/colors/main-darkpink.css"></li>
          <li class="list-inline-item" style="background-color: #bf2a3d;" data-path="css/colors/main-darkred.css"></li>
          <li class="list-inline-item" style="background-color: #28a745;" data-path="css/colors/main-green.css"></li>
          <li class="list-inline-item" style="background-color: #6610f2;" data-path="css/colors/main-indigo.css"></li>
          <li class="list-inline-item" style="background-color: #fd7e14;" data-path="css/colors/main-orange.css"></li>
          <li class="list-inline-item" style="background-color: #e83e8c;" data-path="css/colors/main-pink.css"></li>
          <li class="list-inline-item" style="background-color: #6f42c1;" data-path="css/colors/main-purple.css"></li>
          <li class="list-inline-item" style="background-color: #dc3545;" data-path="css/colors/main-red.css"></li>
          <li class="list-inline-item" style="background-color: #20c997;" data-path="css/colors/main-teal.css"></li>
          <li class="list-inline-item" style="background-color: #333;" data-path="css/colors/main-dark.css"></li>
          <li class="list-inline-item" style="background-color: #78b230;" data-path="css/colors/main-yellowgreen.css"></li>
          <li class="list-inline-item" style="background-color: #E16F7C;" data-path="css/colors/main-tangopink.css"></li>
          <li class="list-inline-item" style="background-color: #6F73D2;" data-path="css/colors/main-moodyblue.css"></li>
          <li class="list-inline-item" style="background-color: #664C43;" data-path="css/colors/main-brown.css"></li>
          <li class="list-inline-item" style="background-color: #4770D9;" data-path="css/colors/main-royalblue.css"></li>
          <li class="list-inline-item" style="background-color: #ffb100;" data-path="css/colors/main-darkyellow.css"></li>
        </ul>
        <div class="single-block buy-btn mb-0">
          <a class="btn btn-success btn-sm" target="_blank" href="https://themeforest.net/item/kitzu-personal-portfolio-template/26075107" role="button">Buy Kitzu</a>
        </div>
      </div>
    </div>
  </div>
  <!-- endremoveIf(customizerDist)-->
  <!-- Scripts-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/animatedModal.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/lity.min.js"></script>
  <script src="js/simplebar.min.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>
  <script src="js/main.js"></script>
  <!-- Custom JS (Add your custom JS scripts to this file)-->
  <script src="js/custom.js"></script>
  <!-- removeIf(customizerDist)-->
  <script src="../customizer/main.js"></script>
  <!-- endremoveIf(customizerDist)-->
</body>

</html>